.white_background {
    -fx-background-color: #ffffff;
}

.black_text {
    -fx-text-fill: #000000;
}
.white_text {
    -fx-text-fill: #ffffff;
}

.main_background {
    -fx-background-color: #2a9d8f;
}

.light_main_background {
    -fx-background-color: #45BFB1;
}

