.white_background {
    -fx-background-color: #ffffff;
}

.black_text {
    -fx-text-fill: #000000;
}
.white_text {
    -fx-text-fill: #ffffff;
}

.main_background {
    -fx-background-color: #7BC534;
}

.light_main_background {
    -fx-background-color: E8F5E5;
}

.margin_cards{
    -fx-spacing: 10px;
    -fx-padding: 10px;
}

.round_border{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.deactivated_rule_background{
    -fx-background-color: #BFBFBF;
}
